In [1]:
import pandas as pd
import os

In [2]:
os.chdir('C:/Users/hi/Downloads')

### Data exploration

In [3]:
train_df=pd.read_csv('train.csv')
train_df.head(3)

,Page_traffic,Unit_price,Units_sold,Segment,1_Star_Rating,2_Star_Rating,3_Star_Rating,4_Star_Rating,5_Star_Rating,Image_Count,...,Sum of Spend,Online_Clicks,Online_Cost,Online_Impressions,num_unique_campaigns,Clicks_video,Cost_video,Impressions_video,num_unique_campaigns_offline,Units_sold>1000
0,3260.0,24.703605,1498,Makeup,82.0,64.0,180.0,353.0,1859.0,11.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,3729.0,22.226514,1139,Makeup,31.0,15.0,41.0,42.0,180.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,2675.0,25.574468,1269,Makeup,19.0,14.0,37.0,54.0,269.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [4]:
val_df=pd.read_csv('validation.csv')
val_df.head(3)

,Page_traffic,Unit_price,Units_sold,Segment,1_Star_Rating,2_Star_Rating,3_Star_Rating,4_Star_Rating,5_Star_Rating,Image_Count,...,Sum of Spend,Online_Clicks,Online_Cost,Online_Impressions,num_unique_campaigns,Clicks_video,Cost_video,Impressions_video,num_unique_campaigns_offline,Units_sold>1000
0,3046.0,22.430288,416,Hair Care,46.0,41.0,102.0,200.0,1248.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.00,0.0,0.0,0
1,6452.0,20.758466,1565,Makeup,59.0,43.0,78.0,163.0,950.0,16.0,...,0.0,0.0,0.000000,0.0,0.0,6375.0,77040.81,7539723.0,2.0,1
2,4666.0,25.025785,892,Skincare,112.0,88.0,274.0,529.0,3619.0,12.0,...,0.0,948.0,2993.821631,146428.0,4.0,0.0,0.00,0.0,0.0,0

In [5]:
train_df=train_df.drop('Units_sold',axis=1)
train_df.head()

,Page_traffic,Unit_price,Segment,1_Star_Rating,2_Star_Rating,3_Star_Rating,4_Star_Rating,5_Star_Rating,Image_Count,Bullet_Count,...,Sum of Spend,Online_Clicks,Online_Cost,Online_Impressions,num_unique_campaigns,Clicks_video,Cost_video,Impressions_video,num_unique_campaigns_offline,Units_sold>1000
0,3260.0,24.703605,Makeup,82.0,64.0,180.0,353.0,1859.0,11.0,6.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1
1,3729.0,22.226514,Makeup,31.0,15.0,41.0,42.0,180.0,8.0,8.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1
2,2675.0,25.574468,Makeup,19.0,14.0,37.0,54.0,269.0,9.0,8.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1
3,6281.0,20.971065,Makeup,25.0,18.0,62.0,107.0,532.0,0.0,6.0,...,408.036474,917.0,2654.489552,133688.0,4.0,5744.0,63978.2,6594469.0,2.0,1
4,131.0,20.099526,Skincare,23.0,21.0,45.0,91.0,559.0,16.0,7.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0

In [6]:
val_df=val_df.drop('Units_sold',axis=1)
val_df.head()

,Page_traffic,Unit_price,Segment,1_Star_Rating,2_Star_Rating,3_Star_Rating,4_Star_Rating,5_Star_Rating,Image_Count,Bullet_Count,...,Sum of Spend,Online_Clicks,Online_Cost,Online_Impressions,num_unique_campaigns,Clicks_video,Cost_video,Impressions_video,num_unique_campaigns_offline,Units_sold>1000
0,3046.0,22.430288,Hair Care,46.0,41.0,102.0,200.0,1248.0,0.0,6.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.00,0.0,0.0,0
1,6452.0,20.758466,Makeup,59.0,43.0,78.0,163.0,950.0,16.0,8.0,...,0.0,0.0,0.000000,0.0,0.0,6375.0,77040.81,7539723.0,2.0,1
2,4666.0,25.025785,Skincare,112.0,88.0,274.0,529.0,3619.0,12.0,6.0,...,0.0,948.0,2993.821631,146428.0,4.0,0.0,0.00,0.0,0.0,0
3,1733.0,31.328486,Hair Care,72.0,54.0,97.0,250.0,1652.0,11.0,6.0,...,0.0,711.0,2241.699378,147418.0,2.0,0.0,0.00,0.0,0.0,1
4,4658.0,13.746230,Hair Care,0.0,0.0,0.0,0.0,0.0,7.0,5.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.00,0.0,0.0,1

In [7]:
Rating_ratio=[]
for row in train_df.values:
    if(row[3]+row[4]==0):
        if(row[6]+row[7]==0):
             Rating_ratio.append(0.0)
        else:
            Rating_ratio.append(-99999)
    else:
        Rating_ratio.append((int(row[6]+row[7]))/(int(row[3]+row[4])))
        
        
        
max_rating=max(Rating_ratio)
for x in range(len(Rating_ratio)):
    if(Rating_ratio[x]==-99999):
        Rating_ratio[x]=max_rating
        

train_df['good_by_bad_Rating']=Rating_ratio 

train_df=train_df.drop(columns=['1_Star_Rating','2_Star_Rating','3_Star_Rating','4_Star_Rating','5_Star_Rating'],axis=1)
       
train_df.head().transpose()

,0,1,2,3,4
Page_traffic,3260.0,3729.0,2675.0,6281.0,131.0
Unit_price,24.703605,22.226514,25.574468,20.971065,20.099526
Segment,Makeup,Makeup,Makeup,Makeup,Skincare
Image_Count,11.0,8.0,9.0,0.0,16.0
Bullet_Count,6.0,8.0,8.0,6.0,7.0
Title_Count,67.0,126.0,126.0,77.0,140.0
Description_Length,125.0,221.0,221.0,98.0,139.0
num_unique_Search_Terms,5.0,10.0,0.0,3.0,0.0
Organic Search Rank,4.0,22.0,29.0,18.0,18.0
Num_of_Promotions,0.0,0.0,0.0,1.0,0.0
Sum of Spend,0.0,0.0,0.0,408.036474,0.0
Online_Clicks,0.0,0.0,0.0,917.0,0.0
Online_Cost,0.0,0.0,0.0,2654.489552,0.0
Online_Impressions,0.0,0.0,0.0,133688.0,0.0
num_unique_campaigns,0.0,0.0,0.0,4.0,0.0
Clicks_video,0.0,0.0,0.0,5744.0,0.0
Cost_video,0.0,0.0,0.0,63978.2,0.0
Impressions_video,0.0,0.0,0.0,6594469.0,0.0
num_unique_campaigns_offline,0.0,0.0,0.0,2.0,0.0
Units_sold>1000,1,1,1,1,0
good_by_bad_Rating,15.150685,4.826087,9.787879,14.860465,14.772727

In [8]:
Rating_ratio=[]
for row in val_df.values:
    if (row[3]+row[4]==0):
        if (row[6]+row[7]==0):
            Rating_ratio.append(0.0)
        else:
            Rating_ratio.append(-99999)
    else:
        Rating_ratio.append((int(row[6]+row[7]))/(int(row[4]+row[3])));

max_rating=max(Rating_ratio)
for x in range(len(Rating_ratio)):
    if (Rating_ratio[x]==-99999):
        Rating_ratio[x]=max_rating

val_df['good_by_bad_Rating']=Rating_ratio
                            
val_df=val_df.drop(columns=['1_Star_Rating','2_Star_Rating','3_Star_Rating','4_Star_Rating','5_Star_Rating'],axis=1)
val_df.head().transpose()

,0,1,2,3,4
Page_traffic,3046.0,6452.0,4666.0,1733.0,4658.0
Unit_price,22.430288,20.758466,25.025785,31.328486,13.74623
Segment,Hair Care,Makeup,Skincare,Hair Care,Hair Care
Image_Count,0.0,16.0,12.0,11.0,7.0
Bullet_Count,6.0,8.0,6.0,6.0,5.0
Title_Count,81.0,162.0,92.0,93.0,84.0
Description_Length,105.0,158.0,184.0,61.0,58.0
num_unique_Search_Terms,0.0,5.0,9.0,4.0,0.0
Organic Search Rank,23.0,37.0,24.0,32.0,18.0
Num_of_Promotions,0.0,0.0,0.0,0.0,0.0
Sum of Spend,0.0,0.0,0.0,0.0,0.0
Online_Clicks,0.0,0.0,948.0,711.0,0.0
Online_Cost,0.0,0.0,2993.821631,2241.699378,0.0
Online_Impressions,0.0,0.0,146428.0,147418.0,0.0
num_unique_campaigns,0.0,0.0,4.0,2.0,0.0
Clicks_video,0.0,6375.0,0.0,0.0,0.0
Cost_video,0.0,77040.81,0.0,0.0,0.0
Impressions_video,0.0,7539723.0,0.0,0.0,0.0
num_unique_campaigns_offline,0.0,2.0,0.0,0.0,0.0
Units_sold>1000,0,1,0,1,1
good_by_bad_Rating,16.643678,10.911765,20.74,15.095238,0.0

### Encoding Cregorical variables

In [9]:
#one hot encoding
train_df=pd.get_dummies(train_df,columns=['Segment'],prefix='Segment',drop_first=True)
val_df=pd.get_dummies(val_df,columns=['Segment'],prefix='Segment',drop_first=True)

In [10]:
from sklearn.model_selection import train_test_split

X_train=train_df.drop('Units_sold>1000',axis=1)
y_train=train_df['Units_sold>1000']

In [11]:
X_val=val_df.drop('Units_sold>1000',axis=1)
y_val=val_df['Units_sold>1000']

### Training a Decision Tree Model

In [12]:
from sklearn.ensemble import GradientBoostingClassifier

In [13]:
model=GradientBoostingClassifier(random_state=42)
model.fit(X_train,y_train)

y_pred_train=model.predict(X_train)
y_pred_val=model.predict(X_val)

In [14]:
from sklearn.metrics import f1_score


f1=f1_score(y_train,y_pred_train)
print(f'F1 score on train:{round(f1*100,2)}%')

f1=f1_score(y_val,y_pred_val)
print(f'F1 score on validation:{round(f1*100,2)}%')

F1 score on train:85.54%
F1 score on validation:85.22%

In [25]:
model=GradientBoostingClassifier(max_depth=9,min_samples_leaf=30,random_state=42)
model.fit(X_train,y_train)

y_pred_train=model.predict(X_train)
y_pred_val=model.predict(X_val)

In [26]:
f1=f1_score(y_train,y_pred_train)
print(f'F1 score on train:{round(f1*100,2)}%')

f1=f1_score(y_val,y_pred_val)
print(f'F1 score on validation:{round(f1*100,2)}%')

F1 score on train:95.96%
F1 score on validation:89.45%

__this is the best validation score and increae in training in our ml journey which shows Gradient boostingb method performed well for the model__